# Dependências
node_modules/

# Arquivos gerados pelo Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Arquivo de ambiente local
cypress.env.json

# Variáveis de ambiente
.env
.env.*

# Logs
*.log

# Cobertura de testes
coverage/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db